<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      pt-3
      pb-2
      mb-3
      border-bottom
    "
  >
    <h1 class="h2">Funcionarios</h1>
  </div>

  <div class="mb-3">
    <button
      type="submit"
      class="btn btn-primary"
      [routerLink]="['/funcionarios', 'new']"
    >
      Adicionar
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of funcionarios; let i = index">
          <th scope="row">{{ f.id }}</th>
          <td>{{ f.name }}</td>
          <td>{{ f.tel }}</td>
          <td>{{ f.email }}</td>
          <td>edit / delete</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
