<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="
      d-flex
      justify-content-between
      flex-wrap flex-md-nowrap
      align-items-center
      pt-3
      pb-2
      mb-3
      border-bottom
    "
  >
    <h1 class="h2">Editar funcionário</h1>
  </div>

  <div class="col-12">
    <form
      class="row g-3"
      *ngIf="funcForm"
      [formGroup]="funcForm"
      (ngSubmit)="OnSubmit()"
    >
      <div class="col-12">
        <div class="col-md-6">
          <label for="inputName4" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="inputName4"
            formControlName="name"
          />
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail4"
          formControlName="email"
        />
      </div>
      <div class="col-md-2">
        <label for="inputTel" class="form-label">Tel.</label>
        <input
          type="text"
          class="form-control"
          id="inputTel"
          formControlName="tel"
        />
      </div>
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!funcForm.valid"
        >
          Salvar
        </button>
        <p>Form status: {{ funcForm.status }}</p>
      </div>
    </form>
  </div>
</main>
